h5 {
  position: absolute;
  width: 582px;
  height: 132px;
  left: 28px;
  top: -50px;

  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 58px;

  color: #f7f7f7;
}
.container5 {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: linear-gradient(180deg, #7d32ac 0%, #b9abc1 100%);
  overflow: hidden;
}
.search-container {
  position: relative;
}

.search-input {
  padding-left: 200px;
  margin-left: 1400px;
  margin-top: 50px; /* Adjust the padding to make space for the button */
  box-sizing: border-box;

  position: absolute;
  width: 400px;
  height: 50px;
  left: -20px;
  top: -20px;

  background: #ffffff;
  box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 43px;
  color: #7d32ac;
  font-style: italic;
}
.search-button {
  top: 42px;
  left: 1700px;
  width: 60px;
  height: 20px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  /* Add styles for the search button icon */
}
.available {
  width: 1400px;
  height: 855px;
  left: 414.18px;
  top: 171px;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */

  color: #7d32ac;

  background: #ffffff;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.38);
  border-radius: 33px;
}
.scrollable-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1200px;
  left: 110px;
  top: 60px;
  height: 755px;
  background: #c4c4c4;
  overflow-y: auto;
}
.doctor-card {
  flex: auto;
  height: 246px;
  width: 350px;
  background: #ffffff;
  box-shadow: -1px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  position: relative;
  margin-bottom: 20px;
  padding: 1px;
}

.doctor-card img {
  box-sizing: border-box;
  left: 0%;
  right: 63.03%;
  top: 8.54%;
  bottom: 45.12%;
  background: #ffffff;
  border: 1px solid #ffb800;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 13px 57px 0px;
}

.doctor-card img:last-child {
  position: relative;
  left: 89.92%;
  right: 4.76%;
  top: 6.91%;
  bottom: 85.37%;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.doctor-card .link {
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  left: 62.46%;
  right: 5.88%;
  top: 85.77%;
  bottom: 8.13%;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #7d32ac;
}

.doctor-card .link:hover {
  color: red;
}

.doctor-card span {
  left: 5.52%;
  right: 49.02%;
  top: 55%;
  bottom: 27.24%;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #7d32ac;
}

.doctor-card p {
  left: 5.52%;
  right: 61.34%;
  top: 63.02%;
  bottom: 15.85%;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffb800;
}

.doctor-card text {
  left: 5.52%;
  right: 56.3%;
  top: 85%;
  bottom: 8.13%;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffb800;
}

.doctor-card text1 {
  left: 80.47%;
  right: 50.48%;
  top: 9.8%;
  bottom: 85.77%;
  font-family: "Sansation";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #7d32ac;
}
.doctor-card img {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 63.03%;
  top: 8.54%;
  bottom: 45.12%;

  background: #ffffff;
  border: 1px solid #ffb800;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 13px 57px 0px;
}
.doctor-card img:last-child {
  position: relative;
  left: 89.92%;
  right: 4.76%;
  top: 6.91%;
  bottom: 85.37%;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.deeper1 {
  position: absolute;
  width: 1920px;
  height: 0px;
  border: 6px solid #ffffff;
  top: 90px;
}
/* click in doctor*/
/* Calendar container */
/* Calendar container */
.calendar {
  width: 450px;
  height: 100px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 430px;
  margin-top: 100px;
}
.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #7D32AC;
  outline: none;
}
.prev-button:before {
  transform: rotate(135deg);
}

.next-button:after {
  transform: rotate(-45deg);
}
.month-year {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  cursor: pointer;
}

.current-day {
  font-weight: bold;
  background-color: #ccc;
}

.selected {
  background-color: brown;
  color: #fff;
}

